# Enable DB integration in the Nest app
ENABLE_DB=true

# Postgres connection
DATABASE_HOST=localhost
DATABASE_PORT=54323
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=

PORT=4000

NODE_ENV="development"

JWT_SECRET=
JWT_EXPIRE_IN=604800

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/v1/auth/google/callback

FRONTEND_URL=http://localhost:3000

SESSION_SECRET=

REDIS_HOST=localhost
REDIS_PORT=63799
REDIS_PASSWORD=